name: GO-APP CI

run-name: Deploy to ${{ inputs.deploy_target }} by @${{ github.actor }}

on:
    push:
        branches:
            - main
        paths-ignore:
            - "README.md"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: '1.22'

            - name: Build the application
              run: go build -o go-app

            - name: Run tests
              run: go test -v ./...

    code_quality:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run the go-linter
              uses: golangci/golangci-lint-action@v9.2.0

    build_docker_image:
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Log in to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v4
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/go-app:${{ github.run_id }}


    update_helm_chart:
        runs-on: ubuntu-latest
        needs: build_docker_image

        steps:
            - name: Checkout Helm chart repository
              uses: actions/checkout@v4
              with:
                token: ${{ secrets.TOKEN }}
              
            - name: Update Helm chart with new Docker image tag
              run: |
                  sed -i 's/tag: .*/tag: "${{github.run_id}}"/' helm/go-app-chart/values.yaml

            - name: Commit and push changes
              run: |
                  git config --global user.name "mgumaneh2811"
                  git config --global user.email "${{ secrets.USER_EMAIL }}"
                  git add helm/go-app-chart/values.yaml
                  git commit -m "Update Helm chart with new Docker image tag ${{ github.run_id }}" || echo "No changes to commit"
                  git push